---
import { supabase } from "@/lib/supabase";
import Layout from "@/layouts/Layout.astro";
import DataEnvio from "@/components/pages/DataEnvio.astro";

const { id } = Astro.params;

const { data, error } = await supabase
  .from("exchange_rates")
  .select("*")
  .eq("country", id)
  .single();

if (error || !data) {
  console.error("Error al obtener datos del país:", error);
}
---

<section>
  <DataEnvio pais={data} />
</section>
