---
import Close from "@/components/icons/Close.astro";
import Logo from "@/components/Logo.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Iniciar Sesión" description="Inicias Sesión">
  <!-- <section
    class="bg-linear-to-t from-zinc-900 to-zinc-500 grid h-full mx-auto w-full sm:p-20"
  > -->
  <section
    class="bg-linear-to-t from-zinc-900 to-zinc-500 h-full md:min-h-screen w-full flex flex-col"
  >
    <div
      class="flex flex-col items-center p-4 rounded-lg mx-auto bg-gray-700 mt-35 min-w-md"
    >
      <div class="relative flex flex-col mb-4 mt-1 text-3xl text-white w-full">
        <a
          class="z-50 absolute top-0 right-0 bg-gray-400 shadow-lg text-black rounded-full p-1 hover:bg-red-500 hover:text-white transition ease-in-out duration-300"
          href="/"
        >
          <Close class="w-4 h-4" />
        </a>
        <Logo logoSize="12" />
        <h1
          class="text-2xl font-great text-center text-wrap mx-auto tracking-wide"
        >
          Yomi's Cash
        </h1>
      </div>

      <div
        class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 bg-gray-800 border-gray-700"
      >
        <div class="p-4 space-y-4 md:space-y-4 sm:p-4">
          <h1 class="font-semibold leading-tight tracking-tight md:text-xl">
            Inicia sesión en tu cuenta
          </h1>
          <form
            class="space-y-4 md:space-y-6"
            method="POST"
            action="/api/signin"
          >
            <div>
              <label
                for="username"
                class="block mb-2 text-sm font-medium text-white"
                >Tu nombre de usuario</label
              >
              <input
                type="text"
                name="username"
                id="username"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required=""
              />
            </div>
            <div>
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-white"
                >Password</label
              >
              <input
                type="password"
                name="password"
                id="password"
                placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                required=""
              />
            </div>

            <button
              type="submit"
              class="py-1 w-full mt-2 text-md font-medium text-white border border-solid border-white rounded-full hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:cursor-pointer"
            >
              Iniciar sesión
            </button>
            <p class="text-sm font-light text-gray-400">
              ¿No tienes una cuenta?
              <a href="/signup" class="font-medium hover:underline">
                Regístrate ahora
              </a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .hover-red:hover {
    background-color: rgb(220 38 38); /* tailwind red-600 */
  }

  button {
    transition:
      text-shadow 0.5s ease-out,
      box-shadow 0.3s ease-out;
  }

  button:hover {
    box-shadow: 0 0 20px #ffffff;
    text-shadow: 1px 1px 15px #fff;
  }
</style>
