---
import { getLangFromUrl, useTranslations, useTranslatedPath, } from '../i18n/utils';

import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<section class="mx-auto w-full p-6 sm:p-20 justify-center items-center">
    <h1
        class="mb-8 text-balance text-center text-xl font-semibold uppercase tracking-wide md:text-4xl"
    >
        {i18n.PREFOOTER_TITLE}
    </h1>

    <p set:html={i18n.PREFOOTER_SUBTITLE} class="mb-8 text-balance text-center text-sm tracking-wide md:text-xl"/>
    
    <div class="flex justify-center mt-8">
        <a href={translatePath('/contacto/')} class="py-3 px-20 mb-12 text-xl font-medium text-white border border-solid border-white rounded-full hover:cursor-pointer sm:w-fit hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-primary-300">
            {i18n.PREFOOTER_BUTTON}
        </a>
    </div>
</section>

<style>
    a {
        transition:
            text-shadow 0.5s ease-out,
            box-shadow 0.3s ease-out;
    }

    a:hover {
        box-shadow: 0 0 25px #ffffff;
        text-shadow:
            1px 1px 20px #fff;
    }
</style>
