---
import { supabase } from "@/lib/supabase";
import Layout from "@/layouts/Layout.astro";
import DeleteIcon from "@/components/icons/DeleteIcon.astro";
import CancelIcon from "@/components/icons/CancelIcon.astro";

const { id } = Astro.params;

// Obtener la información de la tasa de cambio
const { data: tasa, error } = await supabase
  .from("exchange_rates")
  .select("country") // Solo necesitamos el nombre del país
  .eq("id", id)
  .single();

if (error) {
  console.error("Error al obtener la tasa:", error);
  return Astro.redirect("/admin/paisesList"); // Redirigir en caso de error
}

if (!tasa) {
  return Astro.redirect("/admin/paisesList"); // Redirigir si la tasa no existe
}

if (Astro.request.method === "POST") {
  const { error } = await supabase.from("exchange_rates").delete().eq("id", id);

  if (error) {
    console.error("Error al eliminar tasa:", error);
  } else {
    return Astro.redirect("/admin/paisesList/");
  }
}
---

<Layout title="Eliminar País" description="">
  <div
    class="flex justify-center items-center min-h-screen bg-linear-to-t from-zinc-900 to-zinc-500"
  >
    <section
      class="mx-auto w-full max-w-md p-6 grid gap-6 justify-center items-center bg-gray-700 text-white rounded-lg shadow-lg border border-gray-400"
    >
      <h2 class="text-2xl font-semibold tracking-wider text-center">
        Eliminar País
      </h2>
      <p class="text-xl font-semibold">
        ¿Estás seguro de que deseas eliminar el registro de <span
          >{tasa.country}?</span
        >
      </p>
      <form method="post" class="flex justify-center gap-12">
        <button
          class="bg-linear-to-t from-red-900 to-red-500 hover:scale-105 text-white font-bold py-2 px-4 rounded-full flex items-center gap-3"
        >
          <DeleteIcon class="w-5 h-5 inline-block type=" />
          Eliminar
        </button>
        <a
          href="/admin/paisesList/"
          class="bg-linear-to-t from-blue-900 to-[rgba(52,216,251,1)] hover:scale-105 text-white py-2 px-4 rounded-full w-fit transition ease-in-out duration-300 flex justify-center items-center gap-3"
        >
          <CancelIcon class="w-5 h-5 inline-block" />
          Cancelar
        </a>
      </form>
    </section>
  </div>
</Layout>
